body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  max-width: 100%;
  /* background-color: #eeeff1; */
}

.information {
  padding: 0 3rem;
}

/* .list-menu {
  list-style-type: none;
  display: flex;
  margin: 0;
} */
/* BLOCKS */
/* Header */
.top-header {
  display: flex;
  padding: 0;
  background-color: #fff;
  width: 100%;
}

.top-nav {
  display: flex;
  justify-content: flex-end;
  font-size: 0.8rem;
  line-height: 2.2rem;
  border-bottom: 2px solid #f7f7f7;
}
.second-nav {
  display: flex;
  font-weight: 600;
  line-height: 4rem;
}
.banner-menu {
  display: flex;
  background-color: #003e78;
  line-height: 4rem;
  padding: 0 2rem;
  justify-content: space-between;
}
.banner-menu__item {
  list-style-type: none;
  display: flex;
  margin: 0;
  width: 100%;
  justify-content: space-between;
}
.banner-menu--width {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.banner-menu__items--links {
  padding: 0 1rem;
}
.banner-menu__item--color {
  color: #fff;
  text-decoration: none;
  padding: 1.2rem 0.5rem;
}
.banner-menu__item--color:focus {
  border-bottom: 0.5rem solid white;
}
banner {
}
.banner__image {
  max-width: 100%;
  margin: 0 auto;
}
.banner__details {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2rem;
  max-width: 19rem;
  float: left;
  position: relative;
  margin-top: -25rem;
  margin-left: 9rem;
}
.banner__details--larger-heading {
  margin: 0;
  font-size: 2.2rem;
}
.banner__details--line-height {
  line-height: 1.5rem;
}

.banner__button {
  background-color: #017edb;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 0.25rem;
  padding: 0.75rem 0;
  width: 100%;
  line-height: 2rem;
  font-size: 1rem;
}
.dimensions {
  display: table;
}

.footer {
  background-color: #43484d;
  color: #9fa7af;
}

.form {
  float: right;
  background-color: #fff;
  margin-top: 1rem;
  max-width: 35%;
  padding: 0.6rem 1rem 1rem 1.5rem;
}
/* ELEMENTS */
.top-header__logo {
  max-width: 17%;
  border-right: 2px solid #f7f7f7;
  padding: 1rem;
}
.top-header__navs {
  width: 100%;
}
.top-nav__item {
  margin: 0 1rem;
}

.top-menu__items {
  color: #fff;
}

.tabs__selector {
  width: 100%;
  border: 2px solid #003e78;
  padding: 0 1rem;
}

.dimensions__table {
  border-collapse: collapse;
  float: left;
}

.dimensions__data {
  border: 2px solid #c5c5c5;
}

.dimensions__image {
  float: right;
  width: 48%;
}

.colors__link {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #000;
  border: 2px solid #f7f7f7;
  margin: 10px 15px;
  padding: 0 15px;
}

.trim__selectors {
  display: flex;
  flex-wrap: wrap;
}

.footer__logo {
  -webkit-filter: saturate(0);
}
.footer__row {
  display: flex;
}
.footer__info {
  max-width: 55%;
}
.footer__links {
  display: flex;
  flex-direction: column;
  margin: 3rem 1rem;
}

.footer__address {
  font-size: 0.75rem;
  opacity: 0.7;
}

/* MODIFIERS */
.top-nav--menu {
  list-style-type: none;
  display: flex;
  margin: 0;
}

.top-nav__item--adjustments-border {
  border: 1px solid #eaeaea;
  font-size: 0.8rem;
  padding: 3px;
  color: #38428d;
  /* connot change font-weight in free version of font awesome */
}
.top-nav__item--contrast {
  background-color: #000;
  color: #f8f84d;
}
.top-nav__item--links-color {
  color: #000;
  text-decoration: none;
}

.top-nav__item--call-color {
  color: white;
  background-color: #14a65b;
  margin: 0;
  padding: 0 10px;
}
.top-nav__item--mirror {
  display: inline-block;
  transform: scaleX(-1);
  filter: FlipH;
}

.second-nav--menu {
  list-style-type: none;
  display: flex;
  width: 100%;
  margin: 0;
  justify-content: space-around;
  align-items: center;
}
